@{
    ViewBag.Title = "Home Page";
}
<style>
   
     .maint_content
    {
        height:100%;
        background-color:yellow;
    }
     
</style>
    <div class="maint_content">
        It is main content
    </div>
